/* 
	Global SCSS file - other files must be imported here 
*/


@import "_colors";
@import "_reset";
@import "_fonts";
@import "_calendar";
@import "_modal";

html{
  font-family: 'CaviarDreams';


  body{
    font-family: 'CaviarDreams';
    background: -webkit-linear-gradient(#b428ff, #c9c9c9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b428ff, #c9c9c9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b428ff, #c9c9c9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b428ff, #c9c9c9); /* Standard syntax */
  }
}
