section.popup{


  header{
    border-bottom: 2px solid #756486;
    height: 43px;
    background-color: #917ca6;

      .title{
        color: #fff;
        margin-left: 14px;
        font-size: 24px;
        line-height: 43px;
        text-transform: capitalize;
      }

      .btn-close{
        position: absolute;
        right: 2px;
        top: 2px;
        background-color: #fff;
        width: 23px;
        height: 23px;
        border-radius: 10px 0 10px 10px;
        line-height: 19px;
        font-size: 18px;
        color: #756486;
        font-family: verdana;
        padding-left: 7px;
        cursor: pointer;
      }
  }

  main{
    padding: 12px;

    label{
      display: inline-block;
      color:#a434e1;
      font-size: 14px;
    }

    .radio{
      display: inline-block;
      border: 1px solid #c1c1c1;
      background-color: #fff;
      color:#a434e1;
      border-radius: 2px;
      font-size: 12px;
      line-height: 22px;
      padding: 0 12px;
      margin-left: 4px;
      cursor: pointer;


      &:hover, &.selected{

        border: 1px solid #c1c1c1;
        background-color: #a434e1;
        color:#fff;

      }
    }

    .submit{
      width: 100%;
      border: 1px solid #c1c1c1;
      background-color: #a434e1;
      color:#fff;
      font-size: 12px;
      line-height: 22px;
    }

  }
  .confirmationPanel{



    position: absolute;
    top: 0px;
    background-color: #a434e1;
    height: 100%;
    width: 100%;
    z-index: 2;
    color: #fff;
    padding: 20px;


    p{
      text-align: center;
      margin-top: 140px;
    }

    .btns{
      margin-top: 40px;
      text-align: center;

    }
  }
}
