<section  class="popup">
    <form role="form" ng-submit="submit()" ng-show="action != 'show'">
        <header>
            <div class="title"> {{action}} Absence </div>

        </header>
        <main class="main">
            <div class="form-group">
                <label for="userName">Name *</label>
                <input id="userName" type="text" ng-model="absence.name" class="form-control ng-valid ng-dirty ng-valid-editable" required>
            </div>
            <div class="form-group">
                <label>Absence Type *</label>
                <p class="input-group">
                    <span class="radio" ng-model="absence.type" ng-class="{'selected': absence.type =='P'}" btn-radio="'P'" tooltip="Public Holiday">P</span>
                    <span class="radio" ng-model="absence.type" ng-class="{'selected': absence.type =='T'}" btn-radio="'T'" tooltip="Training">T</span>
                    <span class="radio" ng-model="absence.type" ng-class="{'selected': absence.type =='V'}" btn-radio="'V'" tooltip="Vacation">V</span>
                </p>
            </div>
            <div class="form-group">
                <label >Date *</label>
                <p class="input-group">
                    <input type="text" class="form-control" ng-model="absence.date"  datepicker-popup="{{format}}" starting-day=0 ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="form-group">
                <label >Period *</label>
                <p class="input-group">
                    <span class="radio" ng-model="absence.period" ng-class="{'selected': absence.period =='AM'}" btn-radio="'AM'" ng-required="!absence.period">AM</span>
                    <span class="radio" ng-model="absence.period" ng-class="{'selected': absence.period =='PM'}" btn-radio="'PM'" ng-required="!absence.period">PM</span>
                </p>
            </div>
            <button type="submit" class="btn btn-default submit">Submit</button>
        </main>
    </form>

    <form role="form" ng-submit="submit()" ng-show="action == 'show'">
        <main class="main">
            <div class="form-group">
                <label for="userName">Name: <span data-ng-bind="absence.name"></span> </label>
            </div>
            <div class="form-group">
                <label>Absence Type: <span data-ng-bind="absence.name"></span></label>
            </div>
            <div class="form-group">
                <label >Date: <span data-ng-bind="absence.date"></span></label>

            </div>
            <div class="form-group">
                <label >Period: <span data-ng-bind="absence.period"></span></label>
            </div>
            <button type="submit" class="btn btn-default submit">Submit</button>
        </main>
    </form>

</section>