

<section class="calendarWidget">

    <header>

        <h2 class="" data-ng-bind="calendarControl.date.month"></h2>

        <h1 class="" data-ng-bind="calendarControl.date.year"></h1>

        <nav>
            <ul>
                <li ng-click="calendarControl.prev()">Prev</li>
                <li ng-click="setCalendarToToday()">Today</li>
                <li ng-click="calendarControl.next()">Next</li>
            </ul>
        </nav>

    </header>

    <nav class="subnav clearfix">
        <label class="btn pull-left" ng-click="addAbsent()" >Add Absence</label>

        <div class="pull-right">
            <label class="btn" ng-model="calendarView" btn-radio="'month'">month</label>
            <label class="btn" ng-model="calendarView" btn-radio="'day'">day</label>
        </div>
    </nav>

    <mwl-calendar
        calendar-events="events"
        calendar-view="calendarView"
        calendar-current-day="calendarDay"
        calendar-control="calendarControl"
        calendar-event-click="eventClicked($event)"
        calendar-edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
        calendar-delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
        calendar-edit-event-click="eventEdited($event)"
        calendar-delete-event-click="eventDeleted($event)"
        calendar-auto-open="true"></mwl-calendar>



</section>